In [1]:
import pandas as pd
import numpy as np

from dataset import DS_NAMES
from dataset import DS_DIMENSIONS
from dataset import DS_PATHS
path = DS_PATHS["cancer"]

In [37]:
data = pd.read_csv(path)
data.head()

,842302,M,17.99,10.38,122.8,1001,0.1184,0.2776,0.3001,0.1471,...,25.38,17.33,184.6,2019,0.1622,0.6656,0.7119,0.2654,0.4601,0.1189
0,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
1,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
2,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
3,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678
4,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.1578,0.08089,...,15.47,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.1741,0.3985,0.12440

In [38]:
data = data.to_numpy()

In [43]:
sample_ids = data[:,0:1]
labels = data[:,1:2].squeeze() # lables of M=Malignant, B=Benign
y = np.zeros(labels.shape[0])
y[labels == "M"] = 1
x = data[:,2:]

In [44]:
x.shape

(568, 30)

In [3]:
pd.read_csv(DS_PATHS["vertebral"], delim_whitespace=True)

     63.03  22.55  39.61  40.48   98.67  -0.25  AB
0    39.06  10.06  25.02  29.00  114.41   4.56  AB
1    68.83  22.22  50.09  46.61  105.99  -3.53  AB
2    69.30  24.65  44.31  44.64  101.87  11.21  AB
3    49.71   9.65  28.32  40.06  108.17   7.92  AB
4    40.25  13.92  25.12  26.33  130.33   2.23  AB
..     ...    ...    ...    ...     ...    ...  ..
304  47.90  13.62  36.00  34.29  117.45  -4.25  NO
305  53.94  20.72  29.22  33.22  114.37  -0.42  NO
306  61.45  22.69  46.17  38.75  125.67  -2.71  NO
307  45.25   8.69  41.58  36.56  118.55   0.21  NO
308  33.84   5.07  36.64  28.77  123.95  -0.20  NO

[309 rows x 7 columns]